.checkout {
   font-family: Montserrat;
}
.checkout__body {
   padding: 40px 0;
}
.checkout__title {
   margin-bottom: 30px;
}
.checkout__content {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
.checkout__forms {
   -webkit-box-flex: 0;
   -ms-flex: 0 1 60%;
   flex: 0 1 60%;
   padding: 15px;
}
.checkout__forms .title {
   margin-bottom: 30px;
}
.checkout__forms .title p {
   position: relative;
   font-family: Montserrat;
   font-size: 18px;
   padding-left: 30px;
   font-weight: 500;
}
.checkout__forms .title p::before {
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: #01b259;
   position: absolute;
   left: 0;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   color: #fff;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   font-size: 13px;
   font-weight: 700;
}
.checkout__form {
   margin-bottom: 25px;
}
.checkout__info {
   -webkit-box-flex: 0;
   -ms-flex: 0 1 40%;
   flex: 0 1 40%;
   border: 1px solid hsla(240deg, 1%, 65%, 0.396);
   border-radius: 10px;
}
.account-form p::before {
   content: "1";
}
.account-form__lastname,
.account-form__name,
.account-form__telephone {
   position: relative;
}
.account-form__lastname input,
.account-form__name input,
.account-form__telephone input {
   border: 1px solid hsla(240deg, 1%, 65%, 0.396);
   border-radius: 6px;
   padding: 10px 15px;
   font-family: Montserrat;
   width: 100%;
   margin-bottom: 20px;
}
.account-form__lastname input::-webkit-input-placeholder,
.account-form__name input::-webkit-input-placeholder,
.account-form__telephone input::-webkit-input-placeholder {
   opacity: 0;
}
.account-form__lastname input::-moz-placeholder,
.account-form__name input::-moz-placeholder,
.account-form__telephone input::-moz-placeholder {
   opacity: 0;
}
.account-form__lastname input:-ms-input-placeholder,
.account-form__name input:-ms-input-placeholder,
.account-form__telephone input:-ms-input-placeholder {
   opacity: 0;
}
.account-form__lastname input::-ms-input-placeholder,
.account-form__name input::-ms-input-placeholder,
.account-form__telephone input::-ms-input-placeholder {
   opacity: 0;
}
.account-form__lastname input::placeholder,
.account-form__name input::placeholder,
.account-form__telephone input::placeholder {
   opacity: 0;
}
.account-form__lastname input + label,
.account-form__name input + label,
.account-form__telephone input + label {
   position: absolute;
   left: 10px;
   pointer-events: none;
   -webkit-transition: 0.2s;
   -o-transition: 0.2s;
   transition: 0.2s;
   -webkit-transform-origin: top left;
   -ms-transform-origin: top left;
   transform-origin: top left;
   padding: 0.25em;
   font-size: 13px;
   color: #6f7682;
}
.account-form__lastname label,
.account-form__name label,
.account-form__telephone label {
   top: 5px;
}
.account-form__lastname input:not(:-moz-placeholder-shown) + label,
.account-form__name input:not(:-moz-placeholder-shown) + label,
.account-form__telephone input:not(:-moz-placeholder-shown) + label {
   transform: translateY(-100%);
   background-color: #fff;
   padding: 0 5px;
}
.account-form__lastname input:not(:-ms-input-placeholder) + label,
.account-form__name input:not(:-ms-input-placeholder) + label,
.account-form__telephone input:not(:-ms-input-placeholder) + label {
   -ms-transform: translateY(-100%);
   transform: translateY(-100%);
   background-color: #fff;
   padding: 0 5px;
}
.account-form__lastname input:focus + label,
.account-form__lastname input:not(:placeholder-shown) + label,
.account-form__name input:focus + label,
.account-form__name input:not(:placeholder-shown) + label,
.account-form__telephone input:focus + label,
.account-form__telephone input:not(:placeholder-shown) + label {
   -webkit-transform: translateY(-100%);
   -ms-transform: translateY(-100%);
   transform: translateY(-100%);
   background-color: #fff;
   padding: 0 5px;
}
.account-form__lastname span,
.account-form__name span,
.account-form__telephone span {
   font-size: 16px;
   color: coral;
}
.account-form__person {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   gap: 10px;
}
.account-form__name {
   -webkit-box-flex: 0;
   -ms-flex: 0 1 50%;
   flex: 0 1 50%;
}
.account-form__lastname {
   -webkit-box-flex: 0;
   -ms-flex: 0 1 50%;
   flex: 0 1 50%;
}
.pay-form {
   margin-bottom: 30px;
   padding-bottom: 20px;
   border-bottom: 1px solid hsla(240deg, 1%, 65%, 0.396);
}
.pay-form p::before {
   content: "2";
}
.pay-form__methods {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   gap: 10px;
   margin-bottom: 15px;
}
.pay-form__method {
   width: 100%;
   padding: 10px 20px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   border: 1px solid #ccc;
   border-radius: 10px;
   cursor: pointer;
}
.pay-form__method svg {
   margin-right: 10px;
}
.pay-form__method svg path {
   fill: #333;
}
.pay-form__method.active {
   border: 2px solid #01b259;
}
.pay-form__method.active svg path {
   fill: #01b259;
}
.pay-form__card {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   gap: 20px;
}
.pay-form__card img {
   max-width: 60px;
}
.pay-form__card .payme img {
   margin-left: 10px;
}
.pay-form__card .click,
.pay-form__card .payme {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   padding: 5px 10px;
   border-radius: 6px;
}
.pay-form__card .click label,
.pay-form__card .click:hover input,
.pay-form__card .payme label,
.pay-form__card .payme:hover input {
   cursor: pointer;
}
.pay-form__card .click input[type="radio"],
.pay-form__card .payme input[type="radio"] {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 1px solid #ccc;
   outline: 0;
   position: relative;
}
.pay-form__card .click input[type="radio"]::before,
.pay-form__card .payme input[type="radio"]::before {
   content: "";
   display: inline-block;
   width: 8px;
   height: 8px;
   background-color: #01b259;
   border-radius: 50%;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   display: none;
}
.pay-form__card .click input[type="radio"]:checked,
.pay-form__card .payme input[type="radio"]:checked {
   background-color: #fff;
   border-color: #01b259;
}
.pay-form__card .click input[type="radio"]:checked::before,
.pay-form__card .payme input[type="radio"]:checked::before {
   display: inline-block;
}
.pay-form__cash {
   display: none;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}
.pay-form__cash span {
   color: #01b259;
   display: inline-block;
   margin-right: 15px;
   font-size: 22px;
}
.delivery-form {
   margin-bottom: 40px;
}
.delivery-form p::before {
   content: "3";
}
.delivery-form__tabs {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   gap: 10px;
   margin-bottom: 20px;
}
.delivery-form__tab {
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   gap: 10px;
   padding: 10px 20px;
   border: 1px solid #ccc;
   border-radius: 10px;
   cursor: pointer;
}
.delivery-form__tab.active {
   border: 2px solid #01b259;
}
.delivery-form__tab input[type="radio"] {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 1px solid #ccc;
   outline: 0;
   position: relative;
}
.delivery-form__tab input[type="radio"]::before {
   content: "";
   display: inline-block;
   width: 8px;
   height: 8px;
   background-color: #01b259;
   border-radius: 50%;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   display: none;
}
.delivery-form__tab input[type="radio"]:checked {
   background-color: #fff;
   border-color: #01b259;
}
.delivery-form__tab input[type="radio"]:checked::before {
   display: inline-block;
}
.city-container {
   display: none;
   margin-bottom: 20px;
}
.city-container.show {
   display: block;
}
.city-container input {
   border: 1px solid hsla(240deg, 1%, 65%, 0.396);
   border-radius: 6px;
   padding: 10px 15px;
   font-family: Montserrat;
   width: 100%;
}
.city-container input::-webkit-input-placeholder {
   opacity: 0;
}
.city-container input::-moz-placeholder {
   opacity: 0;
}
.city-container input:-ms-input-placeholder {
   opacity: 0;
}
.city-container input::-ms-input-placeholder {
   opacity: 0;
}
.city-container input::placeholder {
   opacity: 0;
}
.city-container input + label {
   position: absolute;
   left: 10px;
   pointer-events: none;
   -webkit-transition: 0.2s;
   -o-transition: 0.2s;
   transition: 0.2s;
   -webkit-transform-origin: top left;
   -ms-transform-origin: top left;
   transform-origin: top left;
   padding: 0.25em;
   font-size: 13px;
   color: #6f7682;
}
.city-container label {
   top: 5px;
   color: #6f7682;
   white-space: nowrap;
}
.city-container input:not(:-moz-placeholder-shown) + label {
   transform: translateY(-100%);
   background-color: #fff;
   padding: 0 5px;
}
.city-container input:not(:-ms-input-placeholder) + label {
   -ms-transform: translateY(-100%);
   transform: translateY(-100%);
   background-color: #fff;
   padding: 0 5px;
}
.city-container input:focus + label,
.city-container input:not(:placeholder-shown) + label {
   -webkit-transform: translateY(-100%);
   -ms-transform: translateY(-100%);
   transform: translateY(-100%);
   background-color: #fff;
   padding: 0 5px;
}
.city-container span {
   font-size: 16px;
   color: coral;
}
.city-and-area {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   gap: 10px;
   margin-bottom: 20px;
}
.choose-area,
.choose-city {
   width: 100%;
   border: 1px solid hsla(240deg, 1%, 65%, 0.396);
   border-radius: 6px;
   padding: 10px 15px;
   font-family: Montserrat;
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   position: relative;
}
.choose-area label,
.choose-city label {
   -webkit-box-flex: 0;
   -ms-flex: 0 1 30%;
   flex: 0 1 30%;
   padding-right: 5px;
   font-size: 14px;
   border-right: 1px solid #ccc;
}
.choose-area select,
.choose-city select {
   -webkit-box-flex: 0;
   -ms-flex: 0 1 70%;
   flex: 0 1 70%;
   width: 100%;
   font-family: Montserrat;
   font-size: 14px;
   border-radius: 5px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   text-align: center;
   overflow-y: auto;
}
.choose-area select:hover,
.choose-city select:hover {
   cursor: pointer;
}
.address-info {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   gap: 10px;
}
.choose-adress {
   -webkit-box-flex: 0;
   -ms-flex: 0 1 80%;
   flex: 0 1 80%;
   position: relative;
}
.choose-appartment-number {
   -webkit-box-flex: 0;
   -ms-flex: 0 1 20%;
   flex: 0 1 20%;
   position: relative;
}
.delivery-time {
   margin-top: 20px;
   gap: 10px;
}
.delivery-time .clock {
   margin-top: 15px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   gap: 30px;
}
.delivery-time .clock .from {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   gap: 10px;
   white-space: nowrap;
}
.delivery-time .clock .to {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   gap: 10px;
   white-space: nowrap;
}
.delivery-time input {
   width: 100%;
}
.time-form {
   margin-top: 50px;
}
.time-form p::before {
   content: "4";
}
.time-form input {
   border: 1px solid hsla(240deg, 1%, 65%, 0.396);
   border-radius: 6px;
   padding: 10px 15px;
   font-family: Montserrat;
   width: 100%;
}
.checkout__info {
   padding: 10px 10px;
   margin-top: 65px;
}
.checkout__info-title {
   text-align: center;
   margin-top: 25px;
   margin-bottom: 25px;
}
.checkout .total-price {
   font-size: 22px;
   text-align: center;
   margin-top: 40px;
}
.checkout .total-price .total-price-value {
   color: #01b259;
   border-radius: 7px;
   padding: 10px;
   font-weight: 500;
   border: 1px solid #01b259;
}
.checkout .cart__item-name {
   font-size: 18px;
}
.checkout .cart__item-price {
   font-size: 18px;
}
.pay-check-button {
   text-align: center;
   margin-top: 40px;
}
.pay-check-button button {
   border: 1px solid hsla(240deg, 1%, 65%, 0.396);
   border-radius: 10px;
   padding: 10px 25px;
   background-color: #01b259;
   color: #fff;
   font-family: Montserrat;
   font-size: 22px;
   -webkit-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
   margin-bottom: 15px;
}
.pay-check-button button:hover {
   background-color: #06924c;
}
.pay-check-button p {
   font-size: 12px;
   color: #333;
}
.pay-check-button p a {
   color: #00f;
}
@media (min-width: 768px) {
   .checkout .cart__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
   }
   .checkout .cart__item img {
      margin: 0 auto;
   }
   .checkout .cart__item-price {
      border-bottom: 1px solid hsla(240deg, 1%, 65%, 0.396);
      padding-bottom: 7px;
   }
}
@media (max-width: 1200px) {
   .checkout__forms .title p {
      font-size: calc(14px + 4 * ((100vw - 320px) / 880));
   }
   .pay-form__cash span {
      font-size: calc(16px + 6 * ((100vw - 320px) / 880));
   }
   .choose-area label,
   .choose-city label {
      font-size: calc(12px + 2 * ((100vw - 320px) / 880));
   }
   .checkout .total-price {
      font-size: calc(18px + 4 * ((100vw - 320px) / 880));
   }
   .checkout .cart__item-name {
      font-size: calc(16px + 2 * ((100vw - 320px) / 880));
   }
   .checkout .cart__item-price {
      font-size: calc(16px + 2 * ((100vw - 320px) / 880));
   }
   .pay-check-button button {
      font-size: calc(18px + 4 * ((100vw - 320px) / 880));
   }
}
@media (max-width: 767px) {
   .cart__item {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }
   .checkout__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
   }
   .checkout__info {
      margin-top: 25px;
   }
}
@media (max-width: 550px) {
   .city-container label {
      text-align: center;
   }
   .city-and-area {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
   }
   .choose-city {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
      flex: 0 1 40%;
   }
   .choose-area {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
      flex: 0 1 60%;
   }
   .choose-area,
   .choose-city {
      padding: 5px 10px;
   }
}
