.policy {
}
.policy__body {
   padding: 20px 10px;
   color: #333;
}
.policy__title {
   margin: 20px 0;
   text-align: center;
}
.policy__text {
   max-width: 800px;
   margin: 0 auto;
   border: 1px solid #ccc;
   padding: 20px 40px;
   border-radius: 6px;
   background-color: rgb(222, 236, 250);
}
.policy__text p {
   margin-bottom: 15px;
}
.policy__text li {
   margin-bottom: 10px;
}
