@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: TTCommons;
  font-display: swap;
  src: url("../fonts/TTCommons-Bold.woff2") format("woff2"), url("../fonts/TTCommons-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: TTCommons;
  font-display: swap;
  src: url("../fonts/TTCommons-Medium.woff2") format("woff2"), url("../fonts/TTCommons-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: TTCommons;
  font-display: swap;
  src: url("../fonts/TTCommons-Light.woff2") format("woff2"), url("../fonts/TTCommons-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: TTCommons;
  font-display: swap;
  src: url("../fonts/TTCommons-Regular.woff2") format("woff2"), url("../fonts/TTCommons-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
}
body._lock {
  overflow: hidden;
}
body._lock::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(59, 58, 58, 0.1);
  animation: bodyShadow 0.3s linear 0s;
}

@keyframes bodyShadow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: TTCommons;
}

main {
  flex: 1 1 auto;
}

.container {
  width: min(100% - 1rem, 1200px);
  margin-inline: auto;
}

/*--------------------------------------------header---------------------------------------------*/
.header__top {
  background-color: #1d1d1d;
  position: relative;
  z-index: 12;
}
.header__middle {
  border-bottom: 1px solid hsla(240deg, 6%, 83%, 0.396);
  padding: 5px 0;
  position: relative;
  z-index: 99;
}
.header__middle::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #fff;
}
.header__bottom {
  padding: 15px 0;
  border-bottom: 1px solid hsla(240deg, 6%, 83%, 0.396);
}

.top-header__body {
  text-align: right;
}
.top-header__links {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 25px;
}
.top-header__telephone:hover, .top-header__delivery:hover {
  background-color: #3c3c3c;
}
.top-header__telephone a, .top-header__delivery a {
  display: inline-block;
  color: #fff;
}
.top-header__telephone a {
  background: url("../img/header/phone.png") 5px 50%/15px no-repeat;
  padding: 6px 10px 7px 23px;
  font-family: Montserrat;
  font-size: 14px;
}
@media (max-width: 1200px) {
  .top-header__telephone a {
    font-size: calc(12px + 2 * ((100vw - 320px) / 880));
  }
}
.top-header__delivery a {
  background: url("../img/header/delivery-icon.png") 5px 50%/20px no-repeat;
  padding: 6px 10px 7px 33px;
  font-size: 16px;
  transform: translateY(1px);
}
@media (max-width: 1200px) {
  .top-header__delivery a {
    font-size: calc(14px + 2 * ((100vw - 320px) / 880));
  }
}

.middle-header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1200px) {
  .middle-header__body {
    gap: calc(10px + 20 * ((100vw - 320px) / 880));
  }
}
.middle-header__logo {
  flex: 0 1 150px;
}
.middle-header__logo img {
  max-width: 100%;
}
.middle-header__logo:hover {
  opacity: 0.7;
}
@media (max-width: 650px) {
  .middle-header__logo {
    flex: 0 1 100px;
  }
}
.middle-header__search {
  flex: 1 1 auto;
  padding-left: 50px;
  display: flex;
}
@media (max-width: 1200px) {
  .middle-header__search {
    padding-left: calc(10px + 40 * ((100vw - 320px) / 880));
  }
}
.middle-header__search input {
  border: 1px solid hsla(240deg, 1%, 65%, 0.396);
  border-right: none;
  padding: 10px 10px 10px 20px;
  border-radius: 6px 0px 0px 6px;
  width: 100%;
  background-color: #fff;
}
.middle-header__search input:focus {
  box-shadow: 0 0 5px rgb(55, 175, 55);
  border: 1px solid transparent;
}
.middle-header__search button {
  background: transparent;
  border: 1px solid hsla(240deg, 1%, 65%, 0.396);
  padding: 0px 10px;
  border-radius: 0 6px 6px 0;
}
.middle-header__search button:hover img {
  transform: scale(1.05);
}
.middle-header__icons {
  border-left: 1px solid hsla(240deg, 6%, 83%, 0.396);
  border-right: 1px solid hsla(240deg, 6%, 83%, 0.396);
  padding-left: 50px;
  padding-right: 50px;
  flex: 0 1 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 1200px) {
  .middle-header__icons {
    padding-left: calc(20px + 30 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .middle-header__icons {
    padding-right: calc(20px + 30 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .middle-header__icons {
    gap: calc(10px + 10 * ((100vw - 320px) / 880));
  }
}
.middle-header__icons img {
  max-width: 25px;
}
@media (max-width: 650px) {
  .middle-header__icons img {
    max-width: 20px;
  }
}
.middle-header__link {
  position: relative;
}
.middle-header__link:not(:last-child)::after {
  content: "1";
  font-family: serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  font-size: 10px;
  color: #fff;
  border-radius: 50%;
  background-color: #d74444;
  position: absolute;
  top: 0;
  right: 0;
}
.middle-header__link a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  color: #000;
  font-size: 13px;
}
.middle-header__link a:is(:hover, :active) {
  color: #d74444;
}

.bottom-header__body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1200px) {
  .bottom-header__body {
    gap: calc(15px + 15 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 650px) {
  .bottom-header__body {
    justify-content: space-between;
  }
}
.bottom-header__catalog {
  flex: 0 1 40px;
}
.bottom-header__catalog a {
  background: url("../img/header/menu.png") 7px 50%/11px 11px no-repeat;
  background-color: rgba(21, 169, 68, 0.7);
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  padding: 12px 7px 12px 25px;
  border-radius: 6px;
}
.bottom-header__catalog a:hover {
  background-color: rgba(15, 132, 52, 0.7);
}
@media (max-width: 650px) {
  .bottom-header__search {
    flex: 1 1 auto;
  }
}
.bottom-header__menu {
  flex: 0 1 40px;
  margin-right: 5px;
}

@media (min-width: 651px) {
  .menu {
    padding-left: 35px;
    position: relative;
  }
  .menu::before {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background-color: hsla(240deg, 1%, 65%, 0.396);
    position: absolute;
    left: 0;
  }
}
.menu__icon {
  display: none;
}
@media (max-width: 650px) {
  .menu__icon {
    display: flex;
    align-items: center;
    position: relative;
    left: 0;
    height: 44px;
    z-index: 12;
  }
  .menu__icon::before, .menu__icon::after, .menu__icon span {
    height: 3px;
    position: absolute;
    left: 0;
    background-color: #000;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
    width: 100%;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 10px;
  }
  .menu__icon::after {
    bottom: 10px;
  }
  .menu__icon span {
    top: 21px;
    border: none;
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(45deg);
    background-color: #fff;
  }
  .menu__icon._active::after {
    top: 50%;
    transform: rotate(-45deg);
    background-color: #fff;
  }
  .menu__icon._active span {
    transform: scale(0);
  }
}
@media (max-width: 650px) {
  .menu__body {
    position: fixed;
    width: 50%;
    height: 100vh;
    left: 100%;
    top: 0;
    padding: 170px 0px 30px 10px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    background-color: rgba(21, 169, 68, 0.7);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(5px);
    border-radius: 6px 0px 0px 6px;
    z-index: 11;
  }
  .menu__body a {
    font-size: 18px;
  }
  .menu__body._active {
    left: 50%;
    text-align: left;
    box-shadow: 0 0 10px #333;
  }
}
.menu__list {
  height: 100%;
  padding: 10px 0;
}
@media (min-width: 650px) {
  .menu__list {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
@media (max-width: 650px) {
  .menu__list li {
    padding: 8px 0 8px 50px;
  }
  .menu__list li:not(:last-child) {
    margin-bottom: 20px;
  }
  .menu__list li:nth-child(1) {
    background: url("../img/header/home.png") left/contain no-repeat;
  }
  .menu__list li:nth-child(2) {
    background: url("../img/header/catalog.png") left/contain no-repeat;
  }
  .menu__list li:nth-child(3) {
    background: url("../img/header/pay.png") left/contain no-repeat;
  }
  .menu__list li:nth-child(4) {
    background: url("../img/header/delivery.png") left/contain no-repeat;
  }
  .menu__list li:nth-child(5) {
    background: url("../img/header/about.png") left/contain no-repeat;
  }
}
@media (min-width: 651px) {
  .menu__list li:not(:last-child) {
    margin-right: 20px;
  }
}
.menu__link {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  padding: 10px 0px;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
}
@media (max-width: 650px) {
  .menu__link {
    color: #fff;
  }
}
@media (min-width: 650px) {
  .menu__link {
    position: relative;
  }
  .menu__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    background-color: #37c03c;
    transform: scale(0);
    transition: all 0.3s ease 0s;
  }
  .menu__link.active::after {
    transform: scale(1);
  }
  .menu__link.active {
    color: #37c03c;
  }
  .menu__link:is(:hover, :active)::after {
    transform: scale(1);
    color: #37c03c;
  }
}
.menu__link:is(:hover, :active) {
  color: #37c03c;
  transform: scale(1);
}

/*--------------------------------------------footer---------------------------------------------*/
/*---------------------------------------------Main--------------------------------------------*/
.home {
  position: relative;
}
.home__slider {
  padding-top: 20px;
}
@media (max-width: 650px) {
  .home__slider {
    padding-top: 0;
  }
}

.slide {
  position: relative;
}
.slide__image img {
  max-width: 100%;
  border-radius: 10px;
}
@media (max-width: 650px) {
  .slide__image img {
    border-radius: 0;
  }
}
.slide__text {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
}
.slide__text h1 {
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 500;
  font-family: Montserrat;
  font-size: 38px;
}
@media (max-width: 1200px) {
  .slide__text h1 {
    font-size: calc(14px + 24 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 450px) {
  .slide__text h1 {
    max-width: 80%;
  }
}
.slide__text-2 {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 20px;
}
.slide__text-2 h2 {
  line-height: 1;
  font-weight: 500;
  font-family: Montserrat;
  white-space: nowrap;
  font-size: 30px;
  color: #333;
  background-color: #fff;
  border-radius: 16px;
  padding: 5px 20px;
}
@media (max-width: 1200px) {
  .slide__text-2 h2 {
    font-size: calc(14px + 16 * ((100vw - 320px) / 880));
  }
}
.slide__text-3 {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  font-family: Montserrat;
  font-weight: 500;
  color: #fff;
  padding: 10px;
  width: 40%;
  font-size: 20px;
  color: #fff;
}
@media (max-width: 1200px) {
  .slide__text-3 {
    font-size: calc(12px + 8 * ((100vw - 320px) / 880));
  }
}
.slide__text-3 p:first-child {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .slide__text-3 p:first-child {
    font-size: calc(16px + 8 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 450px) {
  .slide__text-3 {
    width: 50%;
    left: 15px;
  }
}

.swiper-pagination-bullet {
  background-color: #333;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: rgb(1, 178, 89);
}

.swiper-button-prev {
  background: url("../img/home/prevbtn.png") center/20px no-repeat;
  left: 30px;
}
@media (max-width: 1000px) {
  .swiper-button-prev {
    left: 0;
    background: url("../img/home/prevbtn.png") center/50% no-repeat;
  }
}

.swiper-button-next {
  background: url("../img/home/nextbtn.png") center/20px no-repeat;
  right: 30px;
}
@media (max-width: 1000px) {
  .swiper-button-next {
    right: 0;
    background: url("../img/home/nextbtn.png") center/50% no-repeat;
  }
}

.swiper-button-prev,
.swiper-button-next {
  background-color: rgba(157, 157, 157, 0.6941176471);
  position: absolute;
  width: 30px;
  height: 30px;
  transition: all 0.3s ease 0s;
  border-radius: 50%;
}
@media (max-width: 1200px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: calc(15px + 15 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .swiper-button-prev,
  .swiper-button-next {
    height: calc(15px + 15 * ((100vw - 320px) / 880));
  }
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgb(79, 79, 79);
}
@media (max-width: 650px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

/*--------------------------------------------логотипы---------------------------------------------*/
.logotypes__body {
  padding: 40px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
}
@media (max-width: 650px) {
  .logotypes__body {
    padding: 20px 0px;
  }
}
.logotypes__image {
  border-top: 1px solid rgb(211, 211, 211);
  border-bottom: 1px solid rgb(211, 211, 211);
  border-radius: 8px;
  flex: 0 1 20%;
  position: relative;
  max-width: 100px;
  padding: 5px 15px;
}
.logotypes__image img {
  width: 100%;
}

/*--------------------------------------------Новинки сезона---------------------------------------------*/
.news__body {
  padding: 40px 0;
}
.news__content {
  position: relative;
}
.title {
  margin-bottom: 20px;
  color: #333;
}
.title h2 {
  font-size: 24px;
}
@media (max-width: 1200px) {
  .title h2 {
    font-size: calc(18px + 6 * ((100vw - 320px) / 880));
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  border: 1px solid hsla(240deg, 6%, 83%, 0.396);
  border-radius: 6px;
}
.product-card:hover {
  box-shadow: 0 0 10px #ccc;
}
.product-card__image img {
  max-width: 100%;
  object-position: center;
  object-fit: cover;
}
.product-card__body {
  padding: 10px;
  border-top: 1px solid hsla(240deg, 6%, 83%, 0.396);
}
.product-card__title {
  font-size: 20px;
  margin-bottom: 5px;
}
@media (max-width: 1200px) {
  .product-card__title {
    font-size: calc(14px + 6 * ((100vw - 320px) / 880));
  }
}
.product-card__price {
  font-size: 20px;
  margin-bottom: 15px;
  color: #000;
}
@media (max-width: 1200px) {
  .product-card__price {
    font-size: calc(15px + 5 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 450px) {
  .product-card__price {
    margin-bottom: 5px;
  }
}
.product-card__price span {
  font-size: 16px;
}
@media (max-width: 1200px) {
  .product-card__price span {
    font-size: calc(12px + 4 * ((100vw - 320px) / 880));
  }
}
.product-card__info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
  border-bottom: 1px solid hsla(240deg, 6%, 83%, 0.396);
}
@media (max-width: 800px) {
  .product-card__info {
    flex-direction: column;
  }
}
.product-card__stock {
  font-size: 12px;
}
@media (max-width: 1200px) {
  .product-card__stock {
    font-size: calc(8px + 4 * ((100vw - 320px) / 880));
  }
}
.product-card__stock .in-stock {
  color: rgb(12, 206, 5);
}
.product-card__stock .in-stock::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgb(12, 206, 5);
  margin-right: 5px;
}
@media (max-width: 479px) {
  .product-card__stock .in-stock::before {
    width: 5px;
    height: 5px;
  }
}
.product-card__stock .out-stock {
  color: rgb(217, 22, 22);
  display: none;
}
.product-card__stock .out-stock::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgb(217, 22, 22);
  margin-right: 5px;
}
.product-card__buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 650px) {
  .product-card__buttons {
    gap: 5px;
  }
}
.product-card__bag {
  flex: 0 1 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 10px 3px 15px;
  background: url("../img/home/bagSmall.png") 20% 50%/12px no-repeat;
  background-color: rgb(1, 178, 89);
  color: #fff;
  border-radius: 4px;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
  font-size: 16px;
}
@media (max-width: 1200px) {
  .product-card__bag {
    font-size: calc(12px + 4 * ((100vw - 320px) / 880));
  }
}
.product-card__bag:hover {
  background-color: rgb(1, 114, 54);
}
@media (max-width: 767px) {
  .product-card__bag {
    background: url("../img/home/bagSmall.png") 5px 50%/12px no-repeat;
    background-color: rgb(1, 178, 89);
  }
}
@media (max-width: 620px) {
  .product-card__bag {
    background: url("../img/home/bagSmall.png") 3px 45%/10px no-repeat;
    background-color: rgb(1, 178, 89);
    padding: 3px 7px 3px 17px;
  }
}
@media (max-width: 479px) {
  .product-card__bag {
    background: url("../img/home/bagSmall.png") 5px 45%/7px no-repeat;
    background-color: rgb(1, 178, 89);
    padding: 3px 7px 3px 17px;
  }
}
.product-card__wishlist {
  flex: 0 1 20%;
  min-width: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
}
.product-card__wishlist:hover {
  transform: scale(1.2);
}
.product-card__wishlist img {
  width: 50%;
}
@media (max-width: 650px) {
  .product-card__wishlist img {
    width: 100%;
  }
}
.product-card .rating {
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1200px) {
  .product-card .rating {
    font-size: calc(14px + 6 * ((100vw - 320px) / 880));
  }
}
.product-card .rating__body {
  position: relative;
}
.product-card .rating__body::before {
  content: "★★★★★";
  display: block;
}
.product-card .rating.rating_sending {
  opacity: 0.2;
}
.product-card .rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.product-card .rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}
.product-card .rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.product-card .rating__item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}
.product-card .rating__item:hover {
  cursor: pointer;
}
.product-card .rating__value {
  padding-left: 10px;
}

.news-slider-btn-prev,
.news-slider-btn-next {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  z-index: 2;
}
.news-slider-btn-prev:hover,
.news-slider-btn-next:hover {
  background-color: rgb(79, 79, 79);
  cursor: pointer;
}
@media (max-width: 650px) {
  .news-slider-btn-prev,
  .news-slider-btn-next {
    width: 15px;
    height: 15px;
  }
}

.news-slider-btn-prev {
  left: 0;
  background: url("../img/home/prevbtn.png") center/20px no-repeat;
  background-color: #ccc;
}
@media (min-width: 1200px) {
  .news-slider-btn-prev {
    left: -45px;
  }
}
@media (max-width: 650px) {
  .news-slider-btn-prev {
    background: url("../img/home/prevbtn.png") center/10px no-repeat;
    background-color: #ccc;
  }
}

.news-slider-btn-next {
  right: 0;
  background: url("../img/home/nextbtn.png") center/20px no-repeat;
  background-color: #ccc;
}
@media (min-width: 1200px) {
  .news-slider-btn-next {
    right: -45px;
  }
}
@media (max-width: 650px) {
  .news-slider-btn-next {
    background: url("../img/home/nextbtn.png") center/10px no-repeat;
    background-color: #ccc;
  }
}

/*--------------------------------------------summer banner---------------------------------------------*/
.summer {
  background: url("../img/home/summerBanner.png") center no-repeat;
  margin: 50px 0;
}
@media (max-width: 1150px) {
  .summer {
    background: url("../img/home/summerBanner.png") 70% 50%/cover no-repeat;
  }
}
@media (max-width: 500px) {
  .summer {
    background: url("../img/home/summerBanner.png") 64% 50%/cover no-repeat;
  }
}
.summer__body {
  height: 25vw;
  max-height: 300px;
  min-height: 170px;
  position: relative;
}
.summer__text {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-left: 20px;
}
@media (max-width: 1200px) {
  .summer__text {
    gap: calc(30px + 20 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 767px) {
  .summer__text {
    width: 50%;
    align-items: start;
  }
}
@media (max-width: 500px) {
  .summer__text {
    padding-left: 5px;
  }
}
.summer__text h4 {
  font-size: 40px;
  color: #333;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .summer__text h4 {
    font-size: calc(20px + 20 * ((100vw - 320px) / 880));
  }
}
.summer__text a {
  font-size: 24px;
  color: #333;
  padding: 3px 15px;
  border-radius: 16px;
  border: 1px solid #333;
  transition: all 0.2s ease 0s;
}
@media (max-width: 1200px) {
  .summer__text a {
    font-size: calc(16px + 8 * ((100vw - 320px) / 880));
  }
}
.summer__text a:hover {
  color: #fff;
  border: 1px solid #fff;
}
@media (max-width: 767px) {
  .summer__text a {
    margin-left: 20px;
  }
}
@media (max-width: 555px) {
  .summer__text a {
    margin-left: 0px;
  }
}

/*------------------------------------------------services---------------------------------------------*/
.services__body {
  padding: 40px 0px;
}
.services__content {
  max-width: 800px;
  margin: 0 auto;
}
.services__title {
  margin-bottom: 40px;
}
@media (max-width: 650px) {
  .services__title {
    margin-left: 20px;
  }
}
.services__title h2 {
  font-size: 28px;
  font-weight: 400;
}
@media (max-width: 1200px) {
  .services__title h2 {
    font-size: calc(18px + 10 * ((100vw - 320px) / 880));
  }
}
.services__title span {
  font-weight: 500;
}
.services__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
@media (max-width: 650px) {
  .services__items {
    gap: 15px;
  }
}
@media (max-width: 400px) {
  .services__items {
    gap: 10px;
  }
}
.services__item {
  flex: 0 1 30%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 650px) {
  .services__item {
    flex: 0 1 47%;
  }
}
@media (max-width: 450px) {
  .services__item {
    margin-bottom: 20px;
  }
}

.item-services__icon {
  flex: 0 1 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 450px) {
  .item-services__icon img {
    width: 50px;
    height: 50px;
  }
}
.item-services__text {
  flex: 0 1 60%;
}
.item-services__text h6 {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 7px;
}
@media (max-width: 450px) {
  .item-services__text h6 {
    font-size: 14px;
  }
}
.item-services__text p {
  color: #6f7682;
  font-size: 12px;
}