* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

@font-face {
  font-family: TTCommons;
  font-display: swap;
  src: url("../fonts/TTCommons-Bold.woff2") format("woff2"), url("../fonts/TTCommons-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: TTCommons;
  font-display: swap;
  src: url("../fonts/TTCommons-Light.woff2") format("woff2"), url("../fonts/TTCommons-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: TTCommons;
  font-display: swap;
  src: url("../fonts/TTCommons-Medium.woff2") format("woff2"), url("../fonts/TTCommons-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: TTCommons;
  font-display: swap;
  src: url("../fonts/TTCommons-Regular.woff2") format("woff2"), url("../fonts/TTCommons-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
}
body._lock {
  overflow: hidden;
}
body._lock::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(59, 58, 58, 0.1);
  animation: bodyShadow 0.3s linear 0s;
}

@keyframes bodyShadow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: TTCommons;
}

main {
  flex: 1 1 auto;
}

.container {
  width: min(100% - 1rem, 1200px);
  margin-inline: auto;
}

/*--------------------------------------------header---------------------------------------------*/
.header__top {
  background-color: #1d1d1d;
  position: relative;
  z-index: 7;
}
.header__middle {
  border-bottom: 1px solid hsla(240deg, 6%, 83%, 0.396);
  padding: 5px 0;
  position: relative;
  z-index: 99;
}
.header__middle::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #fff;
}
.header__bottom {
  padding: 15px 0;
  border-bottom: 1px solid hsla(240deg, 6%, 83%, 0.396);
}

.top-header__body {
  text-align: right;
}
.top-header__links {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 25px;
}
.top-header__telephone:hover, .top-header__delivery:hover {
  background-color: #3c3c3c;
}
.top-header__telephone a, .top-header__delivery a {
  display: inline-block;
  color: #fff;
}
.top-header__telephone a {
  background: url("../img/header/phone.png") 5px 50%/15px no-repeat;
  padding: 6px 10px 7px 23px;
  font-family: Montserrat;
  font-size: 14px;
}
@media (max-width: 1200px) {
  .top-header__telephone a {
    font-size: calc(12px + 2 * ((100vw - 320px) / 880));
  }
}
.top-header__delivery a {
  background: url("../img/header/delivery-icon.png") 5px 50%/20px no-repeat;
  padding: 6px 10px 7px 33px;
  font-size: 16px;
  transform: translateY(1px);
}
@media (max-width: 1200px) {
  .top-header__delivery a {
    font-size: calc(14px + 2 * ((100vw - 320px) / 880));
  }
}

.middle-header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1200px) {
  .middle-header__body {
    gap: calc(10px + 20 * ((100vw - 320px) / 880));
  }
}
.middle-header__logo {
  flex: 0 1 150px;
}
.middle-header__logo img {
  max-width: 100%;
}
.middle-header__logo:hover {
  opacity: 0.7;
}
@media (max-width: 650px) {
  .middle-header__logo {
    flex: 0 1 100px;
  }
}
.middle-header__search {
  flex: 1 1 auto;
  padding-left: 50px;
  display: flex;
}
@media (max-width: 1200px) {
  .middle-header__search {
    padding-left: calc(10px + 40 * ((100vw - 320px) / 880));
  }
}
.middle-header__search input {
  border: 1px solid hsla(240deg, 1%, 65%, 0.396);
  border-right: none;
  padding: 10px 10px 10px 20px;
  border-radius: 6px 0px 0px 6px;
  width: 100%;
  background-color: #fff;
}
.middle-header__search input:focus {
  box-shadow: 0 0 5px rgb(55, 175, 55);
  border: 1px solid transparent;
}
.middle-header__search button {
  background: transparent;
  border: 1px solid hsla(240deg, 1%, 65%, 0.396);
  padding: 0px 10px;
  border-radius: 0 6px 6px 0;
}
.middle-header__search button:hover img {
  transform: scale(1.05);
}
.middle-header__icons {
  border-left: 1px solid hsla(240deg, 6%, 83%, 0.396);
  border-right: 1px solid hsla(240deg, 6%, 83%, 0.396);
  padding-left: 50px;
  padding-right: 50px;
  flex: 0 1 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 1200px) {
  .middle-header__icons {
    padding-left: calc(20px + 30 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .middle-header__icons {
    padding-right: calc(20px + 30 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .middle-header__icons {
    gap: calc(10px + 10 * ((100vw - 320px) / 880));
  }
}
.middle-header__icons img {
  max-width: 25px;
}
@media (max-width: 650px) {
  .middle-header__icons img {
    max-width: 20px;
  }
}
.middle-header__link {
  position: relative;
}
.middle-header__link:not(:last-child)::after {
  content: "1";
  font-family: serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  font-size: 10px;
  color: #fff;
  border-radius: 50%;
  background-color: #d74444;
  position: absolute;
  top: 0;
  right: 0;
}
.middle-header__link a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  color: #000;
  font-size: 13px;
}
.middle-header__link a:is(:hover, :active) {
  color: #d74444;
}

.bottom-header__body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1200px) {
  .bottom-header__body {
    gap: calc(15px + 15 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 650px) {
  .bottom-header__body {
    justify-content: space-between;
  }
}
.bottom-header__catalog {
  flex: 0 1 40px;
}
.bottom-header__catalog a {
  background: url("../img/header/menu.png") 7px 50%/13px 13px no-repeat;
  background-color: rgba(21, 169, 68, 0.7);
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  padding: 12px 7px 12px 25px;
  border-radius: 6px;
}
.bottom-header__catalog a:hover {
  background-color: rgba(15, 132, 52, 0.7);
}
@media (max-width: 650px) {
  .bottom-header__search {
    flex: 1 1 auto;
  }
}
.bottom-header__menu {
  flex: 0 1 40px;
  margin-right: 5px;
}

@media (min-width: 651px) {
  .menu {
    padding-left: 35px;
    position: relative;
  }
  .menu::before {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background-color: hsla(240deg, 1%, 65%, 0.396);
    position: absolute;
    left: 0;
  }
}
.menu__icon {
  display: none;
}
@media (max-width: 650px) {
  .menu__icon {
    display: flex;
    align-items: center;
    position: relative;
    left: 0;
    height: 44px;
    z-index: 5;
  }
  .menu__icon::before, .menu__icon::after, .menu__icon span {
    height: 3px;
    position: absolute;
    left: 0;
    background-color: #000;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
    width: 100%;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 10px;
  }
  .menu__icon::after {
    bottom: 10px;
  }
  .menu__icon span {
    top: 21px;
    border: none;
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(45deg);
    background-color: #fff;
  }
  .menu__icon._active::after {
    top: 50%;
    transform: rotate(-45deg);
    background-color: #fff;
  }
  .menu__icon._active span {
    transform: scale(0);
  }
}
@media (max-width: 650px) {
  .menu__body {
    position: fixed;
    width: 50%;
    height: 100vh;
    left: 100%;
    top: 0;
    padding: 170px 0px 30px 10px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    background-color: rgba(21, 169, 68, 0.7);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(5px);
    border-radius: 6px 0px 0px 6px;
  }
  .menu__body a {
    font-size: 18px;
  }
  .menu__body._active {
    left: 50%;
    z-index: 1;
    text-align: left;
    box-shadow: 0 0 10px #333;
  }
}
.menu__list {
  height: 100%;
  padding: 10px 0;
}
@media (min-width: 650px) {
  .menu__list {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
@media (max-width: 650px) {
  .menu__list li {
    padding: 8px 0 8px 50px;
  }
  .menu__list li:not(:last-child) {
    margin-bottom: 20px;
  }
  .menu__list li:nth-child(1) {
    background: url("../img/header/home.png") left/contain no-repeat;
  }
  .menu__list li:nth-child(2) {
    background: url("../img/header/catalog.png") left/contain no-repeat;
  }
  .menu__list li:nth-child(3) {
    background: url("../img/header/pay.png") left/contain no-repeat;
  }
  .menu__list li:nth-child(4) {
    background: url("../img/header/delivery.png") left/contain no-repeat;
  }
  .menu__list li:nth-child(5) {
    background: url("../img/header/about.png") left/contain no-repeat;
  }
}
@media (min-width: 651px) {
  .menu__list li:not(:last-child) {
    margin-right: 20px;
  }
}
.menu__link {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  padding: 10px 0px;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
}
@media (max-width: 650px) {
  .menu__link {
    color: #fff;
  }
}
@media (min-width: 650px) {
  .menu__link {
    position: relative;
  }
  .menu__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    background-color: #37c03c;
    transform: scale(0);
    transition: all 0.3s ease 0s;
  }
  .menu__link.active::after {
    transform: scale(1);
  }
  .menu__link.active {
    color: #37c03c;
  }
  .menu__link:is(:hover, :active)::after {
    transform: scale(1);
    color: #37c03c;
  }
}
.menu__link:is(:hover, :active) {
  color: #37c03c;
  transform: scale(1);
}

/*--------------------------------------------footer---------------------------------------------*/
/*---------------------------------------------Main--------------------------------------------*/
.home {
  position: relative;
}
.slide {
  position: relative;
}
.slide__image img {
  max-width: 100%;
}
.slide__text {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
}
.slide__text h1 {
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 0.9375em;
  font-weight: 500;
  font-size: 40px;
}
@media (max-width: 1200px) {
  .slide__text h1 {
    font-size: calc(16px + 24 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 400px) {
  .slide__text h1 {
    max-width: 80%;
  }
}

.swiper-pagination-bullet {
  background-color: #333;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #00ff00;
}

.swiper-button-prev {
  background: url("../img/home/prevbtn.png") center/20px no-repeat;
  left: 30px;
}
@media (max-width: 1000px) {
  .swiper-button-prev {
    left: 0;
    background: url("../img/home/prevbtn.png") center/50% no-repeat;
  }
}

.swiper-button-next {
  background: url("../img/home/nextbtn.png") center/20px no-repeat;
  right: 30px;
}
@media (max-width: 1000px) {
  .swiper-button-next {
    right: 0;
    background: url("../img/home/nextbtn.png") center/50% no-repeat;
  }
}

.swiper-button-prev,
.swiper-button-next {
  background-color: rgb(29, 183, 101);
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1200px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: calc(15px + 15 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .swiper-button-prev,
  .swiper-button-next {
    height: calc(15px + 15 * ((100vw - 320px) / 880));
  }
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgb(79, 79, 79);
}