//----------------------------------------------_Обнуление-----------------------------------------------
@use "sass:math";
@import "null-style.scss";
//----------------------------------------------_Шрифты----------------------------------------------
@import "fonts.scss";
//----------------------------------------------_Переменные-----------------------------------------
$maxWidth: 1440;
$maxWidthContainer: 1200;
$green: rgb(1, 178, 89);
//----------------------------------------------_Шаблоны------------------------------------------
@function prc($pxOne, $pxTwo) {
   $result: math.div($pxOne, $pxTwo) * 100%;
   @return $result;
}
@function rem($px) {
   $result: math.div($px, 16) + rem;
   @return $result;
}
@function em($px) {
   $result: math.div($px, 16) + em;
   @return $result;
}
//----------------------------------------------_Миксины----------------------------------------------
@mixin adaptiv-value($property, $startSize, $minSize, $type) {
   $addSize: $startSize - $minSize;
   @if $type==1 {
      //Только если меньше контейнера
      #{$property}: $startSize + px;
      @media (max-width: #{$maxWidthContainer + px}) {
         #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
      }
   } @else if $type==2 {
      //Только если больше контейнера
      #{$property}: $starSize + px;
      @media (min-width: #{$maxWidthContainer + px}) {
         #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
      }
   } @else {
      //Всегда
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
   }
}

//----------------------------------------------_Настройки-------------------------------------------
html {
   scroll-behavior: smooth;
}
body {
   width: 100%;
   height: 100%;
   &._lock {
      overflow: hidden;
      &::after {
         content: "";
         display: block;
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         background-color: rgba(59, 58, 58, 0.1);
         animation: bodyShadow 0.3s linear 0s;
      }
   }
   &._popup {
      overflow: hidden;
   }
   &._popup2 {
      overflow: hidden;
   }
}
@keyframes bodyShadow {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   font-family: TTCommons;
}
main {
   flex: 1 1 auto;
}
.container {
   width: min(100% - 1rem, 1200px);
   margin-inline: auto;
}
/*--------------------------------------------header---------------------------------------------*/
@import "header.scss";
/*--------------------------------------------footer---------------------------------------------*/
@import "footer.scss";
/*---------------------------------------------Main--------------------------------------------*/

.home {
   position: relative;
   &__slider {
      padding-top: 20px;
      @media (max-width: 650px) {
         & {
            padding-top: 0;
         }
      }
   }
}
.slide {
   position: relative;
   &__image {
      & img {
         max-width: 100%;
         border-radius: 10px;
         @media (max-width: 650px) {
            & {
               border-radius: 0;
            }
         }
      }
   }
   &__text {
      position: absolute;
      top: 20px;
      left: 20px;
      color: #fff;
      & h1 {
         font-weight: 500;
         letter-spacing: 2px;
         line-height: 1;
         font-weight: 500;
         font-family: Montserrat;
         @include adaptiv-value("font-size", 38, 14, 1);
         @media (max-width: 450px) {
            & {
               max-width: 80%;
            }
         }
      }
   }
   &__text-2 {
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      padding: 5px 20px;
      & h2 {
         line-height: 1;
         font-weight: 500;
         font-family: Montserrat;
         white-space: nowrap;
         @include adaptiv-value("font-size", 30, 14, 1);
         color: #333;
         background-color: #fff;
         border-radius: 16px;
         padding: 5px 20px;
      }
   }
   &__text-3 {
      position: absolute;
      top: 50%;
      left: 50px;
      transform: translateY(-50%);
      font-family: Montserrat;
      font-weight: 500;
      color: #fff;
      padding: 10px;
      width: 40%;
      @include adaptiv-value("font-size", 20, 12, 1);
      color: #fff;
      & p:first-child {
         @include adaptiv-value("font-size", 24, 16, 1);
         margin-bottom: 15px;
         font-weight: 600;
      }
      @media (max-width: 450px) {
         & {
            width: 50%;
            left: 15px;
         }
      }
   }
}
.swiper-pagination-bullet {
   background-color: #333;
   opacity: 0.7;
}
.swiper-pagination-bullet-active {
   opacity: 1;
   background-color: $green;
}
.swiper-button-prev {
   background: url("@img/home/prevbtn.png") center / 20px no-repeat;
   left: 30px;
   @media (max-width: 1000px) {
      & {
         & {
            left: 0;
            background: url("@img/home/prevbtn.png") center / 50% no-repeat;
         }
      }
   }
}
.swiper-button-next {
   background: url("@img/home/nextbtn.png") center / 20px no-repeat;
   right: 30px;
   @media (max-width: 1000px) {
      & {
         & {
            right: 0;
            background: url("@img/home/nextbtn.png") center / 50% no-repeat;
         }
      }
   }
}

.swiper-button-prev,
.swiper-button-next {
   background-color: #9d9d9db1;
   position: absolute;
   @include adaptiv-value("width", 30, 15, 1);
   @include adaptiv-value("height", 30, 15, 1);
   transition: all 0.3s ease 0s;
   border-radius: 50%;
   &::after {
      display: none;
   }
   &:hover {
      background-color: rgb(79, 79, 79);
   }
   @media (max-width: 650px) {
      & {
         display: none;
      }
   }
}

/*--------------------------------------------логотипы---------------------------------------------*/
.logotypes {
   &__body {
      padding: 40px 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 15px;
      @media (max-width: 650px) {
         & {
            padding: 20px 0px;
         }
      }
   }

   &__image {
      border-top: 1px solid rgb(211, 211, 211);
      border-bottom: 1px solid rgb(211, 211, 211);
      border-radius: 8px;
      flex: 0 1 20%;
      position: relative;
      max-width: 100px;
      padding: 5px 15px;
      @media (max-width: 650px) {
         & {
            padding: 3px 5px;
            border: none;
            border: 1px solid rgb(211, 211, 211);
         }
      }
      & img {
         width: 100%;
         object-fit: contain;
      }
   }
}

/*--------------------------------------------Новинки сезона---------------------------------------------*/
.news {
   &__body {
      padding: 40px 0;
   }

   &__title {
   }

   &__content {
      position: relative;
   }
}
.title {
   & h2 {
      @include adaptiv-value("font-size", 24, 18, 1);
   }
   margin-bottom: 20px;
   color: #333;
}
.product-card {
   border: 1px solid hsla(240, 6%, 83%, 0.396);
   border-radius: 6px;
   position: relative;
   .new-shoe,
   .hit-shoe {
      position: absolute;
      width: 50%;
      top: 10px;
      left: 0px;
      display: flex;
      align-items: center;
      @media (max-width: 450px) {
         & {
            top: 5px;
         }
      }
      &::before {
         color: #fff;
         padding: 2px 8px;
         border-radius: 0px 6px 6px 0px;
         z-index: 50;
         font-family: Montserrat;
         @include adaptiv-value("font-size", 14, 8, 1);
         @media (max-width: 450px) {
            & {
               padding: 2px 5px;
            }
         }
      }
   }
   .new-shoe {
      &:before {
         content: "new";
         background-color: rgb(209, 66, 66);
      }
   }
   .hit-shoe {
      &:before {
         content: "популярное";
         background-color: #ff7f50;
      }
   }
   &:hover {
      box-shadow: 0 0 10px #ccc;
   }
   &__image {
      position: relative;
      display: inline-block;
      &::after {
         content: "Посмотреть";
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         opacity: 0;
         background: url("@img/home/magnifier.png") 7px 50% / 20px 20px no-repeat;
         background-color: rgba(0, 0, 0, 0.5);
         color: #fff;
         padding: 5px 10px 5px 30px;
         border-radius: 5px;
         transition: opacity 0.3s ease;
         @media (max-width: 767px) {
            & {
               display: none;
            }
         }
      }
      &:hover::after {
         opacity: 1;
         pointer-events: none;
      }
      & img {
         max-width: 100%;
         object-position: center;
         object-fit: cover;
         @media (min-width: 768px) {
            & {
               &:hover {
                  filter: brightness(0.95);
                  cursor: pointer;
               }
            }
         }
      }
   }

   &__body {
      padding: 10px;
      border-top: 1px solid hsla(240, 6%, 83%, 0.396);
      flex-grow: 1;
   }

   &__name {
      margin-bottom: 5px;
      flex-grow: 1;
      cursor: pointer;
      .disabled {
         pointer-events: none;
         cursor: pointer;
      }
      & a {
         color: #000;
         @include adaptiv-value("font-size", 20, 14, 1);
      }
   }

   &__price {
      @include adaptiv-value("font-size", 20, 14, 1);
      margin-bottom: 15px;
      color: #000;
      @media (max-width: 450px) {
         & {
            margin-bottom: 5px;
         }
      }
      & span {
         @include adaptiv-value("font-size", 16, 12, 1);
      }
   }
   &__info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      border-bottom: 1px solid hsla(240, 6%, 83%, 0.396);
      @media (max-width: 800px) {
         & {
            flex-direction: column;
         }
      }
   }
   &__stock {
      @include adaptiv-value("font-size", 12, 8, 1);
      position: relative;
      & .in-stock {
         color: rgb(12, 206, 5);
         &::before {
            content: "";
            display: inline-block;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: rgb(12, 206, 5);
            margin-right: 5px;
            animation: stockCircle 2s linear infinite 0s;
            @media (max-width: 479px) {
               & {
                  width: 5px;
                  height: 5px;
               }
            }
         }
      }
      & .out-stock {
         color: rgb(217, 22, 22);
         display: none;
         &::before {
            content: "";
            display: inline-block;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: rgb(217, 22, 22);
            margin-right: 5px;
         }
      }
   }
   @keyframes stockCircle {
      0% {
         transform: scale(1);
         opacity: 1;
      }
      50% {
         transform: scale(1.3);
         opacity: 0.4;
      }
      100% {
         transform: scale(1);
         opacity: 1;
      }
   }
   &__sizes {
      display: none;
   }
   &__buttons {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 650px) {
         & {
            gap: 5px;
         }
      }
   }
   &__look,
   &__bag {
      flex: 0 1 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 5px 10px;
      font-family: Montserrat;
      background-color: $green;
      color: #fff;
      border-radius: 4px;
      white-space: nowrap;
      transition: all 0.3s ease 0s;
      @include adaptiv-value("font-size", 16, 8, 1);
      &:hover {
         background-color: rgb(1, 114, 54);
      }
      @media (max-width: 650px) {
         & {
            padding: 3px 7px;
         }
      }
   }
   &__wishlist {
      flex: 0 1 20%;
      min-width: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease 0s;

      position: relative;
      &.added {
         &::after {
            content: "✓";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $green;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(242, 242, 242, 0.9);
            @include adaptiv-value("font-size", 20, 14, 1);
            padding: 15px 5px;
            @media (max-width: 650px) {
               & {
                  padding: 10px;
               }
            }
         }
      }
      &:hover {
         transform: scale(1.2);
      }
      & img {
         width: 50%;
         @media (max-width: 650px) {
            & {
               width: 100%;
            }
         }
      }
   }
   .rating {
      display: flex;
      align-items: flex-end;
      @include adaptiv-value("font-size", 20, 14, 1);
      transition: all 0.3s ease 0s;
      &__body {
         position: relative;
         &::before {
            content: "★★★★★";
            display: block;
         }
      }
      &.rating_sending {
         opacity: 0.2;
      }
      &__active {
         position: absolute;
         width: 0%;
         height: 100%;
         top: 0;
         left: 0;
         overflow: hidden;
         &::before {
            content: "★★★★★";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            color: #ffd300;
         }
      }

      &__items {
         display: flex;
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
      }

      &__item {
         flex: 0 0 20%;
         height: 100%;
         opacity: 0;
         &:hover {
            cursor: pointer;
         }
      }

      &__value {
         padding-left: 10px;
      }
   }
}
.news-slider-btn-prev,
.news-slider-btn-next {
   width: 30px;
   height: 30px;
   position: absolute;
   top: 50%;
   border-radius: 50%;
   z-index: 2;
   &:hover {
      background-color: rgb(79, 79, 79);
      cursor: pointer;
   }
   @media (max-width: 650px) {
      & {
         width: 15px;
         height: 15px;
      }
   }
}
.news-slider-btn-prev {
   left: 0;
   background: url("@img/home/prevbtn.png") center / 20px no-repeat;
   background-color: #ccc;
   @media (min-width: 1200px) {
      & {
         left: -45px;
      }
   }
   @media (max-width: 650px) {
      & {
         background: url("@img/home/prevbtn.png") center / 10px no-repeat;

         background-color: #ccc;
      }
   }
}
.news-slider-btn-next {
   right: 0;
   background: url("@img/home/nextbtn.png") center / 20px no-repeat;
   background-color: #ccc;
   @media (min-width: 1200px) {
      & {
         right: -45px;
      }
   }
   @media (max-width: 650px) {
      & {
         background: url("@img/home/nextbtn.png") center / 10px no-repeat;

         background-color: #ccc;
      }
   }
}
.popup {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.9);
   z-index: 9999;
   justify-content: center;
   align-items: start;
   display: none;
   overflow-y: auto;
   padding: 20px 0;
   &__content {
      width: 70%;
      height: 100%;
      background-color: #fff;
      padding: 15px;
      display: flex;
      overflow-y: auto;
      .fly-animation {
         animation-name: fly;
         animation-duration: 0.8s;
         animation-fill-mode: forwards;
         overflow: hidden;
      }
      @media (max-width: 1023px) {
         & {
            width: 80%;
            margin-top: 20px;
            height: auto;
         }
      }
      @media (max-width: 650px) {
         & {
            flex-direction: column;
         }
      }
   }

   &__close {
      position: absolute;
      top: 20px;
      right: 20px;
      border: none;
      background-color: transparent;
      font-size: 60px;
      cursor: pointer;
      color: #fff;
      @media (max-width: 767px) {
         & {
            top: 0;
            position: fixed;
         }
      }
      @media (max-width: 650px) {
         & {
            font-size: 50px;
            top: 10px;
            right: 10px;
         }
      }
   }
   &__gallery {
      flex: 0 1 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid hsla(240, 6%, 83%, 0.396);
      @media (max-width: 650px) {
         & {
            border: none;
         }
      }
   }
   &__image {
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
      overflow: hidden;
      object-fit: cover;
   }
   &__info {
      flex: 0 1 40%;
      padding: 20px;
      position: relative;
      @media (max-width: 650px) {
         & {
            padding: 10px;
         }
      }
   }

   &__images-container {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 5px;
      margin-bottom: 10px;
      align-items: center;
      flex-wrap: wrap;
      @media (max-width: 1023px) {
         & {
            justify-content: start;
         }
      }
      @media (max-width: 650px) {
         & {
            justify-content: center;
         }
      }
      & img {
         width: 70px;
         height: 70px;
         object-fit: contain;
         border: 1px solid hsla(240, 6%, 83%, 0.396);
         cursor: pointer;
         &:hover {
            opacity: 0.7;
         }
      }
   }

   &__name {
      @include adaptiv-value("font-size", 26, 20, 1);
      color: #1d1d1d;
      font-weight: 500;
      margin-bottom: 10px;
   }
   .product-card__stock {
      margin-bottom: 20px;
      @media (max-width: 650px) {
         & {
            position: absolute;
            top: 50px;
            right: 10px;
            font-size: 12px;
         }
      }
   }
   &__price {
      @include adaptiv-value("font-size", 22, 18, 1);
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid hsla(240, 6%, 83%, 0.396);
      @media (max-width: 650px) {
         & {
            margin-bottom: 10px;
         }
      }
   }
   &__size {
      margin-bottom: 20px;
      label {
         margin-bottom: 5px;
      }

      .radio-group {
         display: flex;
         gap: 10px;
      }

      input[type="radio"] {
         display: none;
      }

      label {
         display: block;
         border-radius: 4px;
         cursor: pointer;
      }
      label:not(:first-child) {
         font-family: Montserrat;
         font-size: 12px;
         border: 1px solid #ccc;

         padding: 5px 10px;
         @media (max-width: 650px) {
            & {
               padding: 3px 8px;
            }
         }
      }

      input[type="radio"]:checked + label {
         background-color: $green;
         color: #fff;
         border: 1px solid transparent;
      }
      & label.unavailable {
         cursor: not-allowed;
         position: relative;
         &::before {
            content: "";
            width: 100%;
            height: 1px;
            position: absolute;
            top: 50%;
            left: 0;
            background-color: #ccc;
            transform: rotate(-45deg);
         }
      }
   }
   &__unavailable-sizes {
      display: none;
   }
   &__quantity {
      border-bottom: 1px solid hsla(240deg, 6%, 83%, 0.396);
      margin-bottom: 10px;
      padding-bottom: 10px;
      @media (max-width: 650px) {
         & {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 20px;
         }
      }
      .quantity-wrapper {
         display: flex;
         align-items: center;
         input {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 3px;
         }
      }
      .quantity-wrapper .minus,
      .quantity-wrapper .plus {
         font-size: 20px;
         cursor: pointer;
         padding: 5px 10px;
         transform: translateY(1px);
      }
      .quantity-wrapper .quantity-input {
         width: 50px;
         text-align: center;
         font-size: 16px;
      }
      .quantity-wrapper .quantity-input::-webkit-inner-spin-button,
      .quantity-wrapper .quantity-input::-webkit-outer-spin-button {
         -webkit-appearance: none;
         margin: 0;
      }
      .quantity-wrapper .quantity-input[type="number"] {
         -moz-appearance: textfield;
      }
   }
   &__additional-size {
      margin-bottom: 20px;
      padding-bottom: 15px;
      border-bottom: 1px solid hsla(240, 6%, 83%, 0.396);
   }
   .size-additional {
      &__body {
         display: flex;
         gap: 20px;
         padding-top: 10px;
         margin-bottom: 10px;
      }

      &__text {
      }

      &__switch {
      }

      &__value {
         label {
            margin-bottom: 5px;
         }

         .radio-group {
            display: flex;
            gap: 10px;
         }

         input[type="radio"] {
            display: none;
         }

         label {
            display: block;
            border-radius: 4px;
            cursor: pointer;
         }
         label:not(:first-child) {
            font-family: Montserrat;
            font-size: 12px;
            border: 1px solid #ccc;

            padding: 5px 10px;
            @media (max-width: 650px) {
               & {
                  padding: 3px 8px;
               }
            }
         }

         input[type="radio"]:checked + label {
            background-color: $green;
            color: #fff;
            border: 1px solid transparent;
         }
         & label.unavailable {
            cursor: not-allowed;
            position: relative;
            &::before {
               content: "";
               width: 100%;
               height: 1px;
               position: absolute;
               top: 50%;
               left: 0;
               background-color: #ccc;
               transform: rotate(-45deg);
            }
         }
      }
   }
   .switch {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
      background-color: hsla(240, 6%, 83%, 0.5);
      border-radius: 15px;
      input[type="radio"] {
         -webkit-appearance: none; /* Для Safari */
         -moz-appearance: none; /* Для Firefox */
         appearance: none;
         outline: none;
         background-color: transparent;
         width: 0px;
         height: 0px;
         opacity: 0;
         visibility: hidden;
      }
      label {
         text-decoration: none;
         cursor: pointer;
         width: 0px;
         height: 0px;
         opacity: 0;
         visibility: hidden;
      }
      &__input {
         display: none;
         &:focus {
            background-color: transparent;
         }
         &:active {
            background-color: transparent;
         }
         &:checked ~ .switch__handle {
            transform: translateX(100%);
            background-color: $green;
         }
         &:checked ~ .switch__label:first-of-type {
            color: #fff;
         }
         &:checked ~ .switch__label:last-of-type {
            color: #fff;
         }
      }

      &__label {
         position: absolute;
         top: 0;
         bottom: 0;
         width: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
         text-align: center;
         font-size: 12px;
         cursor: pointer;
         z-index: 2;
         &:focus {
            background-color: transparent;
         }
         &:focus-visible {
            background-color: transparent;
         }
         &:active {
            background-color: transparent;
         }
         &:first-of-type {
            right: 0;
            color: #fff;
         }
         &:last-of-type {
            left: 0;
            color: #fff;
         }
      }

      &__handle {
         width: 20px;
         height: 20px;
         background-color: #d74444;
         border-radius: 50%;
         position: absolute;
         top: 0;
         left: 0;
         transition: transform 0.3s ease;
         z-index: 1;
      }
   }
   &__go-cart {
      margin-top: 10px;
      .go-cart {
         text-align: center;
         width: 80%;
         margin: 0 auto;
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 5px 10px;
         border: 1px solid $green;
         border-radius: 6px;
         color: $green;
         display: none;
         font-family: Montserrat;
         @include adaptiv-value("font-size", 14, 12, 1);
      }
   }
   .product-card__buttons {
      justify-content: space-around;
      gap: 10px;
      .product-card__bag {
         @include adaptiv-value("font-size", 16, 14, 1);
         background-color: rgb(157, 157, 157);
         pointer-events: none;
         @media (max-width: 650px) {
            & {
               max-width: 230px;
               padding: 10px 15px;
            }
         }
         &.active {
            background-color: $green;
            pointer-events: auto;
         }
      }
      .product-card__wishlist {
         flex: 0 1 20%;
         display: none;
         @media (max-width: 650px) {
            & {
               padding: 5px;
               max-width: 45px;
               max-height: 45px;
            }
         }
      }
   }
}
@keyframes pulse {
   0% {
      transform: scale(1);
   }
   50% {
      transform: scale(1.2);
   }
   100% {
      transform: scale(1);
   }
}
@keyframes fly {
   0% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
   }
   100% {
      transform: translate(40vw, -40vh) scale(0.3);
      opacity: 0;
   }
}
.pulse-animation {
   animation: pulse 0.5s;
}
.popup__image {
   cursor: pointer;
}
.fullscreen {
   margin: 0 20px;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   order: 2;
   background: url("@img/home/swipeBottom.png") 80% center / 50px 50px no-repeat;
   background-color: rgba(0, 0, 0, 0.9);
   display: none;
   justify-content: start;
   align-items: center;
   z-index: 9999;
   overflow-x: auto;
   @media (min-width: 1024px) {
      & {
         margin: 0;
         flex-direction: column;
         overflow-x: hidden;
         overflow-y: auto;
      }
   }
   @media (max-width: 1023px) {
      & {
         background: url("@img/home/swipeRight.png") center 95% / 30px 30px no-repeat;
         background-color: rgba(0, 0, 0, 0.9);
      }
   }
}
.fullscreen img {
   max-width: 100%;
   max-height: 100%;
   object-fit: contain;
}
/*--------------------------------------------summer banner---------------------------------------------*/
.summer {
   background: url("@img/home/summerBanner.png") center no-repeat;
   margin: 50px 0;
   @media (max-width: 1150px) {
      & {
         background: url("@img/home/summerBanner.png") 70% 50% / cover no-repeat;
      }
   }
   @media (max-width: 500px) {
      & {
         background: url("@img/home/summerBanner.png") 64% 50% / cover no-repeat;
      }
   }
   &__body {
      height: 25vw;
      max-height: 300px;
      min-height: 170px;
      position: relative;
   }

   &__text {
      position: absolute;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include adaptiv-value("gap", 50, 30, 1);
      padding-left: 20px;
      @media (max-width: 767px) {
         & {
            width: 50%;
            align-items: start;
         }
      }
      @media (max-width: 500px) {
         & {
            padding-left: 5px;
         }
      }
      & h4 {
         @include adaptiv-value("font-size", 40, 20, 1);
         color: #333;
         font-weight: 700;
      }
      & a {
         @include adaptiv-value("font-size", 24, 16, 1);
         color: #333;
         padding: 3px 15px;
         border-radius: 16px;
         border: 1px solid #333;
         transition: all 0.2s ease 0s;
         &:hover {
            color: #fff;
            border: 1px solid #fff;
         }
         @media (max-width: 767px) {
            & {
               margin-left: 20px;
            }
         }
         @media (max-width: 555px) {
            & {
               margin-left: 0px;
            }
         }
      }
   }
}
/*----------------------------------------------services---------------------------------------------*/
.services {
   &__body {
      padding: 40px 0px;
   }

   &__content {
      max-width: 800px;
      margin: 0 auto;
   }

   &__title {
      margin-bottom: 40px;
      @media (max-width: 650px) {
         & {
            margin-left: 20px;
         }
      }
      & h2 {
         @include adaptiv-value("font-size", 28, 18, 1);
         font-weight: 400;
      }
      & span {
         font-weight: 500;
      }
   }

   &__items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
      flex-wrap: wrap;
      @media (max-width: 650px) {
         & {
            gap: 15px;
         }
      }
      @media (max-width: 400px) {
         & {
            gap: 10px;
         }
      }
   }

   &__item {
      flex: 0 1 30%;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      @media (max-width: 650px) {
         & {
            flex: 0 1 47%;
         }
      }
      @media (max-width: 450px) {
         & {
            & {
               margin-bottom: 20px;
            }
         }
      }
   }
}
.item-services {
   &__icon {
      flex: 0 1 33.3%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 450px) {
         & img {
            width: 50px;
            height: 50px;
         }
      }
   }

   &__text {
      flex: 0 1 60%;
      & h6 {
         color: #000;
         font-size: 16px;
         font-weight: 500;
         margin-bottom: 7px;
         @media (max-width: 450px) {
            & {
               font-size: 14px;
            }
         }
      }
      & p {
         color: #6f7682;
         font-size: 12px;
      }
   }
}
.body {
   &._lock {
      overflow: hidden;
   }
}

/*--------------------------------------------Pays---------------------------------------------*/
.pays {
   background-color: #f7f7f7;
   &__body {
      padding: 50px 0;
   }

   &__items {
      display: flex;
      gap: 10px;
      justify-content: space-between;
      align-items: center;
   }

   &__item {
      flex: 0 1 10%;
      @media (max-width: 500px) {
         & {
            flex: 0 1 20%;
         }
      }
      img {
         max-width: 100%;
         object-fit: contain;
      }
   }
}

/*----------------------------------------Кнопка Колцентра и Вверх-------------------------------------------------*/
.call-centre {
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   bottom: 40px;
   right: 15px;
   width: 50px;
   height: 50px;
   background-color: $green;
   border-radius: 50%;
   z-index: 100;
   &::before,
   &::after {
      content: "";
      display: block;
      position: fixed;
      width: 50px;
      height: 50px;
      bottom: 40px;
      right: 15px;
      border-radius: 50%;
      background-color: none;
      border: 1px solid $green;
      z-index: 100;
   }
   &::before {
      animation: callCentre 2s ease infinite 0s;
   }
   &::after {
      animation: callCentre 2s ease infinite 0.5s;
   }
}
.scroll-to-top {
   display: none;
   position: fixed;
   bottom: 110px;
   right: 20px;
   width: 40px;
   height: 40px;
   background: url("@img/home/scrollToTop.png") center / contain no-repeat;
   border-radius: 50%;
   text-align: center;
   line-height: 50px;
   cursor: pointer;
   z-index: 100;
   opacity: 0.8;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: none;
}
@keyframes callCentre {
   0% {
      transform: scale(1);
   }
   50% {
      transform: scale(1.4);
      opacity: 0.3;
   }
   100% {
      transform: scale(1);
   }
}
